## 1. Importando Pacotes e Base de Dados

In [1]:
# Importando os Pacotes
import pandas as pd

In [2]:
# Importando base de Dados em um Data Frame
df = pd.read_csv("./data_crm.zip", 
                 sep = ";",
                 thousands=".", # Separador de milhares
                 decimal=",") # Separador decimal
df.drop(columns="Unnamed: 0", inplace = True)

#### 1.1. Verificando o Tamanho da Base de Dados
O dataframe possui 1.633.234 linhas com 14 colunas

In [3]:
df.shape

(1633234, 14)

In [4]:
df.head()

,anomes,codcamp,codcliente,familia,grupo,subgrupo,gt,validade_de,validade_ate,fat,fat_bl,lucro,lucro_bl,custo
0,202003,B0000000002,00002658,carro,escapamento,esporte,True,2020-03-10,2020-04-10,31.98,132.06,17.53,63.34,NaN
1,202003,B0000000002,00002764,carro,escapamento,esporte,True,2020-03-10,2020-04-10,NaN,461.30,NaN,181.38,NaN
2,202003,B0000000002,00002792,carro,escapamento,esporte,True,2020-03-10,2020-04-10,108.25,86.97,49.51,39.66,NaN
3,202003,B0000000002,00002928,carro,escapamento,esporte,True,2020-03-10,2020-04-10,97.56,NaN,43.49,NaN,NaN
4,202003,B0000000002,00016656,carro,escapamento,esporte,True,2020-03-10,2020-04-10,NaN,220.56,NaN,27.03,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1633234 entries, 0 to 1633233
Data columns (total 14 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   anomes        1633234 non-null  int64
 1   codcamp       1633234 non-null  object
 2   codcliente    1633234 non-null  object
 3   familia       1633234 non-null  object
 4   grupo         1633234 non-null  object
 5   subgrupo      1633234 non-null  object
 6   gt            1633234 non-null  bool
 7   validade_de   1633234 non-null  object
 8   validade_ate  1633234 non-null  object
 9   fat           728128 non-null   float64
 10  fat_bl        919083 non-null   float64
 11  lucro         728128 non-null   float64
 12  lucro_bl      919083 non-null   float64
 13  custo         89146 non-null    float64
dtypes: bool(1), float64(5), int64(1), object(7)
memory usage: 163.5+ MB

In [8]:
df.query("codcliente == '00002658'")

,anomes,codcamp,codcliente,familia,grupo,subgrupo,gt,validade_de,validade_ate,fat,fat_bl,lucro,lucro_bl,custo
0,202003,B0000000002,00002658,carro,escapamento,esporte,True,2020-03-10,2020-04-10,31.98,132.06,17.53,63.34,NaN
316746,202004,B0000000002,00002658,carro,escapamento,esporte,True,2020-03-10,2020-04-10,NaN,NaN,NaN,NaN,NaN
654427,202005,B0000000007,00002658,carro,rodas_pneus,basico,True,2020-05-21,2020-06-21,NaN,NaN,NaN,NaN,NaN
967228,202006,B0000000005,00002658,carro,rodas_pneus,esportivo,True,2020-06-11,2020-07-11,20.57,NaN,10.56,NaN,NaN
1029574,202006,B0000000007,00002658,carro,rodas_pneus,basico,True,2020-05-21,2020-06-21,20.57,31.98,10.56,18.10,0.458

In [7]:
df.describe()

,anomes,fat,fat_bl,lucro,lucro_bl,custo
count,1.633234e+06,728128.000000,919083.000000,728128.000000,919083.000000,89146.000000
mean,2.020049e+05,181.575813,180.525671,64.691228,65.814459,8.516768
std,1.167238e+00,212.821869,211.189297,192.033473,228.771309,15.244468
min,2.020030e+05,-5269.360000,-4589.730000,-72780.460000,-151489.040000,-70.653000
25%,2.020040e+05,64.710000,62.980000,22.090000,21.820000,1.497000
50%,2.020050e+05,128.990000,127.540000,44.180000,43.890000,3.639000
75%,2.020060e+05,231.790000,229.810000,80.650000,81.050000,9.514750
max,2.020060e+05,20038.780000,14363.720000,7674.570000,10039.550000,1142.580000

## 2. Ajustando Rótulos para o Dashboard
### 2.1. Coluna ano/mês
Adicionando o separador "-" entre o mês e o ano

In [5]:
df["anomes"].unique()

array([202003, 202004, 202005, 202006])

In [6]:
ano_mes = {
    202003: '2020-03',
    202004: '2020-04',
    202005: '2020-05',
    202006: '2020-06'
}

df['anomes'].replace(ano_mes, inplace = True)

In [7]:
df["anomes"].unique()

array(['2020-03', '2020-04', '2020-05', '2020-06'], dtype=object)

### 2.2. Coluna gt
Alterando os rótulos:
- True para grupo Campanha
- False para o grupo Controle

In [8]:
grupo_estudo = {
    True: 'Campanha',
    False: 'Controle'
}

df['gt'].replace(grupo_estudo, inplace = True)

In [9]:
df['gt'].unique()

array(['Campanha', 'Controle'], dtype=object)

### 2.3. Colunas Familia, Grupo e Subgrupo
Alterando a primeira letra maiuscula e removendo caracteres especiais

In [10]:
df["familia"] = df["familia"].str.title()
df["familia"].unique()

array(['Carro', 'Moto', 'Caminhao', 'Offroad'], dtype=object)

In [11]:
df["grupo"] = df["grupo"].replace("_", " ", regex= True).str.title()
df["grupo"].unique()

array(['Escapamento', 'Rodas Pneus', 'Som', 'Lataria Adesivacao',
       'Estofamento Bancos', 'Cabine', 'Carroceria',
       'Equipamentos Trilha'], dtype=object)

In [13]:
df["subgrupo"] = df["subgrupo"].replace("_", " ", regex= True).str.title()
df["subgrupo"].unique()

array(['Esporte', 'Esportivo', 'Premium', 'Basico', 'Multimedia',
       'High End', 'Intermediario', 'Lama', 'Estrada'], dtype=object)

## 3. Agrupando dados para Elaboração do Dashboard

In [14]:
df_agrupado = df.groupby(by=["anomes", "codcamp", "familia", "grupo", "subgrupo", 'gt', "validade_de", "validade_ate"], observed = False).agg(['sum','count'])

In [15]:
df_agrupado = df_agrupado.drop(columns=[('codcliente','sum'), 
                          ('fat', 'count'),
                          ('fat_bl', 'count'),
                          ('lucro', 'count'),
                          ('lucro_bl', 'count'),
                          ('custo', 'count')])
df_agrupado

                                                                                           codcliente  \
                                                                                                count
anomes  codcamp     familia grupo              subgrupo  gt       validade_de validade_ate
2020-03 B0000000002 Carro   Escapamento        Esporte   Campanha 2020-03-10  2020-04-10        12770
                                                         Controle 2020-03-10  2020-04-10         1412
        B0000000005 Carro   Rodas Pneus        Esportivo Campanha 2020-03-19  2020-04-19        14517
                                                         Controle 2020-03-19  2020-04-19         1540
        B0000000006 Carro   Rodas Pneus        Premium   Campanha 2020-03-16  2020-04-16        12301
...                                                                                               ...
2020-06 B0000000562 Moto    Rodas Pneus        Basico    Campanha 2020-06-12  2020-07-12          219
        B0000000564 Moto    Lataria Adesivacao Premium   Campanha 2020-05-26  2020-06-26          460
                                                                  2020-06-11  2020-07-11          215
        B0000000566 Moto    Lataria Adesivacao High End  Campanha 2020-05-18  2020-06-18          406
                                                                  2020-06-05  2020-07-05          233

                                                                                                   fat  \
                                                                                                   sum
anomes  codcamp     familia grupo              subgrupo  gt       validade_de validade_ate
2020-03 B0000000002 Carro   Escapamento        Esporte   Campanha 2020-03-10  2020-04-10    1551222.65
                                                         Controle 2020-03-10  2020-04-10     173203.17
        B0000000005 Carro   Rodas Pneus        Esportivo Campanha 2020-03-19  2020-04-19     861104.25
                                                         Controle 2020-03-19  2020-04-19      95335.01
        B0000000006 Carro   Rodas Pneus        Premium   Campanha 2020-03-16  2020-04-16    1154150.23
...                                                                                                ...
2020-06 B0000000562 Moto    Rodas Pneus        Basico    Campanha 2020-06-12  2020-07-12      18288.50
        B0000000564 Moto    Lataria Adesivacao Premium   Campanha 2020-05-26  2020-06-26      42512.41
                                                                  2020-06-11  2020-07-11      12322.55
        B0000000566 Moto    Lataria Adesivacao High End  Campanha 2020-05-18  2020-06-18      29030.69
                                                                  2020-06-05  2020-07-05      20725.81

                                                                                                fat_bl  \
                                                                                                   sum
anomes  codcamp     familia grupo              subgrupo  gt       validade_de validade_ate
2020-03 B0000000002 Carro   Escapamento        Esporte   Campanha 2020-03-10  2020-04-10    1426104.23
                                                         Controle 2020-03-10  2020-04-10     161498.69
        B0000000005 Carro   Rodas Pneus        Esportivo Campanha 2020-03-19  2020-04-19     993766.75
                                                         Controle 2020-03-19  2020-04-19     110266.92
        B0000000006 Carro   Rodas Pneus        Premium   Campanha 2020-03-16  2020-04-16     990388.06
...                                                                                                ...
2020-06 B0000000562 Moto    Rodas Pneus        Basico    Campanha 2020-06-12  2020-07-12          0.00
        B0000000564 Moto    Lataria Adesivacao Premium   Campanha 2020-05-26  2020-06-26      22425.90
                                                                  2020-06-11  2020-07-11       3582.93
        B0000000566 Moto    Lataria Adesivacao High End  Campanha 2020-05-18  2020-06-18      13654.86
                                                                  2020-06-05  2020-07-05       4548.64

                                                                                                lucro  \
                                                                                                  sum
anomes  codcamp     familia grupo              subgrupo  gt       validade_de validade_ate
2020-03 B0000000002 Carro   Escapamento        Esporte   Campanha 2020-03-10  2020-04-10    550078.60
                                                         Controle 2020-03-10  2020-04-10     62482.59
        B0000000005 Carro   Rodas Pneus        Esportivo Campanha 2020-03-19  2020-04-19    312865.17
                                                         Controle 2020-03-19  2020-04-19     33364.91
        B0000000006 Carro   Rodas Pneus        Premium   Campanha 2020-03-16  2020-04-16    412986.47
...                                                                                               ...
2020-06 B0000000562 Moto    Rodas Pneus        Basico    Campanha 2020-06-12  2020-07-12      7225.05
        B0000000564 Moto    Lataria Adesivacao Premium   Campanha 2020-05-26  2020-06-26     15579.58
                                                                  2020-06-11  2020-07-11      4199.73
        B0000000566 Moto    Lataria Adesivacao High End  Campanha 2020-05-18  2020-06-18     10633.30
                                                                  2020-06-05  2020-07-05      7770.88

                                                                                             lucro_bl  \
                                                                                                  sum
anomes  codcamp     familia grupo              subgrupo  gt       validade_de validade_ate
2020-03 B0000000002 Carro   Escapamento        Esporte   Campanha 2020-03-10  2020-04-10    546418.18
                                                         Controle 2020-03-10  2020-04-10     61242.02
        B0000000005 Carro   Rodas Pneus        Esportivo Campanha 2020-03-19  2020-04-19    386554.62
                                                         Controle 2020-03-19  2020-04-19     41448.50
        B0000000006 Carro   Rodas Pneus        Premium   Campanha 2020-03-16  2020-04-16    381766.03
...                                                                                               ...
2020-06 B0000000562 Moto    Rodas Pneus        Basico    Campanha 2020-06-12  2020-07-12         0.00
        B0000000564 Moto    Lataria Adesivacao Premium   Campanha 2020-05-26  2020-06-26      7444.51
                                                                  2020-06-11  2020-07-11      1273.35
        B0000000566 Moto    Lataria Adesivacao High End  Campanha 2020-05-18  2020-06-18      5027.73
                                                                  2020-06-05  2020-07-05      1768.86

                                                                                               custo
                                                                                                 sum
anomes  codcamp     familia grupo              subgrupo  gt       validade_de validade_ate
2020-03 B0000000002 Carro   Escapamento        Esporte   Campanha 2020-03-10  2020-04-10    2446.421
                                                         Controle 2020-03-10  2020-04-10     313.314
        B0000000005 Carro   Rodas Pneus        Esportivo Campanha 2020-03-19  2020-04-19    1163.114
                                                         Controle 2020-03-19  2020-04-19     117.906
        B0000000006 Carro   Rodas Pneus        Premium   Campanha 2020-03-16  2020-04-16    2352.710
...                                                                                              ...
2020-06 B0000000562 Moto    Rodas Pneus        Basico    Campanha 2020-06-12  2020-07-12     161.829
        B0000000564 Moto    Lataria Adesivacao Premium   Campanha 2020-05-26  2020-06-26    1540.047
                                                                  2020-06-11  2020-07-11     750.447
        B0000000566 Moto    Lataria Adesivacao High End  Campanha 2020-05-18  2020-06-18    1121.025
                                                                  2020-06-05  2020-07-05     701.775

[748 rows x 6 columns]

In [16]:
df_agrupado.reset_index(col_level = 0, inplace = True)

In [18]:
df_agrupado.to_csv("./dados_crm_agrupados.csv", sep = ";", index = False)